/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define SPC   1
#define NUM   2
#define SYM   3
#define FN    4

&lt {
    tapping_term_ms = <100>;
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
				bindings = <
					&none &kp F      &kp D   &kp N   &kp I   &kp G  
					&none &kp S      &kp T   &kp H   &kp F   &kp O  
					&none &kp C      &kp W   &kp R   &kp A   &kp U  
					&none &sk LSHIFT &kp RET &sl SYM &sl NUM &lt SPC SPACE
				>;
			};

		space {
				bindings = <
					&none  &kp J  &kp K  &kp M    &kp I    &kp MINUS  
					&none  &kp Y  &kp P  &kp K    &kp L    &kp Q  
					&none  &kp X  &kp B  &kp V    &kp FSLH &kp Z  
					&none  &trans &trans &kp ESC  &none    &trans
				>;
		};

		num {
				bindings = <
					&none &kp N1    &kp N2    &kp N3   &kp N4    &kp N5 
					&none &kp N6    &kp N7    &kp N8   &kp N9    &kp N0  
					&none &kp EQUAL &kp GRAVE &kp SEMI &kp COMMA &kp DOT  
					&none &trans    &trans    &sl FN   &trans    &trans
				>;
		};
		navi {
				bindings = <
					&none &kp BSPC  &kp HOME     &kp UP       &kp END   &kp PG_UP 
					&none &kp DEL   &kp LEFT     &kp DOWN     &kp RIGHT &kp PG_DN
					&none &kp TAB   &kp C_VOL_DN &kp C_VOL_UP &kp LBKT  &kp RBKT  
					&none &sk LCTRL &sk LALT     &trans       &sk LGUI  &trans
				>;
		};
		fn {
				bindings = <
					&none &kp F1       &kp F2     &kp F3       &kp F4       &kp F5  
					&none &kp F6       &kp F7     &kp F8       &kp F9       &kp F10
					&none &reset       &bt BT_CLR &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0  
					&none &out OUT_TOG &trans     &trans       &trans       &none
				>;
		};
	};
};
